
// Breakpoints
$breakpoints: (
    medium: 640px,
    xmedium: 960px,
    large: 1024px,
    xlarge: 1280px,
    xxlarge: 1440px,
    zlarge: 1600px,
    zzlarge: 1920px
);

// VARIABLES GLOBALES.

// Anchos y alturas.
:root {
    --max-width: 1270px;
    --min-width: 320px;
    --header-height: 4rem;
    @include from(zlarge) {
        --header-height: 4.5rem;
    }
}

// Familia de fuentes.
:root {
    --body-font-family: 'Open Sans', sans-serif;
    --h-font-family: 'News Cycle', sans-serif;
}

// Tamaños de fuentes.
:root {
    --body-font-size: .9rem;
    --small-font-size: .75rem;
    --h1-font-size: 2rem;

    @include from(xmedium) {
        --body-font-size: 1rem;
        --small-font-size: .8rem;
        --h1-font-size: 2.5rem;
    }
}

// Variables para button
:root {
    --cursor-button: default;

    @include from(xmedium) {
        --cursor-button: pointer;
    }
}

// Variables de apilamiento - "z-index"
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}



